AIRFLOW_UID=50000

AIRFLOW_ADMIN_USER=admin
AIRFLOW_ADMIN_PASSWORD=admin
AIRFLOW_ADMIN_EMAIL=admin@example.com

_PIP_ADDITIONAL_REQUIREMENTS=psycopg2-binary pyyaml pandas

PG_HOST=
PG_PORT=5432
PG_DB=
PG_USER=
PG_PASSWORD=
